<div class="container">
  <div class="center">
    <div>
      <%= image_tag ("img1.jpg") id="bigimg"%>
    </div>
    <ul>
      <%= li class="thumb"><%= image_tag 'thumb-img1.jpg' data-image="img1.jpg"%></li>
      <%= li class="thumb"><%= image_tag 'thumb-img2.jpg' data-image="img2.jpg"%></li>
      <%= li class="thumb"><%= image_tag 'thumb-img3.jpg' data-image="img3.jpg"%></li>
      <%= li class="thumb"><%= image_tag 'thumb-img4.jpg' data-image="img4.jpg"%></li>
    </ul>
  </div>
</div>

